* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(#e7eced, #ffffff);
  height: 100vh;
   background: url("cover.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.box {
  width: 520px;
  padding: 22px;
  
  background: rgba(255, 255, 255, 0.94);
  border-radius: 22px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 15px;
}

h1 {
  font-size: 30px;
  color: #7dacb5;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 15px;
  color: #666;
}

.form {
  text-align: left;
}

.form-group-custom {
  margin-bottom: 13px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #5A827E;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #7dacb5;
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  background: white;
}

.password {
  border: 1px solid #7dacb5;
  border-radius: 12px;
  background: white;
  padding: 0 12px;
}

.password input {
  width: 100%;
  border: none;
  padding: 12px 0;
  background: transparent;
}

.forgot {
  text-align: right;
  margin-top: 5px;
}

.forgot a {
  color: #7dacb5;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.signin-btn {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(#7dacb5, #8db1b8);
  color: white;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}

.or {
  margin: 20px 0;
  text-align: center;
}

.line {
  display: inline-block;
  width: 35%;
  height: 1px;
  background: #ccc;
  vertical-align: middle;
}

.or span {
  display: inline-block;
  margin: 0 10px;
  color: #666;
}

.signup {
  text-align: center;
}

.signup p {
  display: inline;
  color: #666;
}

.signup a {
  color: #7dacb5;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 576px) {
  .box {
    width: 90%;
    padding: 20px;
  }

  .logo {
    width: 100px;
  }

  h1 {
    font-size: 26px;
  }

  .subtitle {
    font-size: 14px;
  }

  .signin-btn {
    font-size: 15px;
    padding: 12px;
  }
}